body {
  background: transparent;
  overflow: hidden;
  color: white;
}

main {
  visibility: hidden;
  background: transparent;
}

#info {
  position: absolute;
  top: 0;
  left: 15px;
  font-weight: bold;
  font-size: 16px;
}